.center {
	text-align: center;
}

.replyPlaceholder {
	padding-top: 21px;
	padding-bottom: 59px;
}

.postPlaceholder {
	padding-top: 21px;
	padding-bottom: 59px;
}

.btn-recent {
	font-size: 18px;
}
.panel-default > .panel-heading{
  background-color: #2B3E50;
}
.header{
  padding-left: 15px;
}