body {
	width: 100%;
	margine: none;
	padding: none;
}

.ind-title {
	padding-top: 35px;
	font-size: 46px;
}

.ind-paragraph {
	font-size: 24px;
	line-height: 1.8;
}

.row-banner {
	background-image: url('../images/blurred-cabinet.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	margin-left: -15px;
  	margin-top: -20px;
  	margin-right: -15px;
}

.row-top-txt {
	margin: 10px;
	padding-top: 350px;
	padding-bottom: 10px;
}


.row-even {
	padding: 15px;
}
.row-odd {
	background-color: #F8F8F8;
	padding: 15px;
}

.odd-pic {
	width: 470px;
	padding-left: 80px;
}

.text-center {
    text-shadow:
    -1px -1px 0  #B0B0B0   ,
    1px -1px 0   #B0B0B0   ,
    -1px 1px 0   #B0B0B0   ,
    1px 1px 0  	 #B0B0B0   ;  
}

.carousel {
	height: 500px;
	margin-bottom: 60px;
}

.carousel-caption {
	z-index: 10;
}

.carousel .item {
	height: 500px;
	background-color: #777;
}

.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
}

#wrapper {
	background-color: #fff;
	width: 100%;
	height: 500px;
	margin-top: -22.5%;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 0;
}
#carousel img {
	display: block;
	float: left;
}
#prev, #next {
	background-color: rgba(255, 255, 255, 0.7);
	display: block;
	height: 500px;
	width: 50%;
	top: 0;
	position: absolute;
}
#prev:hover, #next:hover {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.8);
}
#prev {
	left: -495px;
}
#next {
	right: -495px;
}
#pager {
	margin-left: -470px;
	position: absolute;
	left: 50%;
	bottom: 10px;
}
#pager a {
	border: 2px solid #fff;
	border-radius: 10px;
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 5px 0 0;
}
#pager a:hover {
	background-color: rgba(255, 255, 255, 0.5);
}
#pager a span {
	display: none;
}
#pager a.selected {
	background-color: #fff;
}