.ind-title {
	padding-top: 35px;
	font-size: 46px;
}

.ind-paragraph {
	font-size: 20px;
	line-height: 1.8;
}

.content-img {
	
}

.row-even {
	padding: 15px;
}
.row-odd {
	background-color: #F8F8F8;
	padding: 15px;
}

.odd-pic {
	width: 470px;
	padding-left: 80px;
}

.carousel {
  height: 500px;
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}