body {
  padding-top: 70px; /* Move body of page below navbar. */
}

/* .sticky
{
background-color: #ECF0F1;
border-radius: 5px; 
-moz-border-radius: 5px; 
-webkit-border-radius: 5px; 
border: 3px solid #e3a20b;
} */

