@(message: String)

@main("Categories") {
  <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">OCKB</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">            
            <li>
              <a href="student_dashboard.html">Dashboard</a>
            </li>
            <li>
              <a href="Categories.html">Categories</a>
            </li>
          </ul>
          <div class=" navbar-right">
            <ul class="nav navbar-nav">
              <li>
                <a href="student_dashboard.html">Welcome, smith at hawaii.edu!</a>
              </li>
              <li>
                <a href="index.html" class="btn btn-default">Log Out</a>
              </li>
            </ul>
          </div>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>
    <div class = "container">
      <div class = "row">
        <div class = "col-xs-12">
          <h1>Pick a Category to Explore</h1>
        </div>
      </div>
      <div class = "row">
        <br>
      </div>
      <div class = "row">
        <div class="col-xs-6 col-sm-4">
          <a href = "Categories/ArrayList.html">ArrayList</a>
          <p>Array lists are variable-sized list data structure.</p>
        </div>
        <div class="col-xs-6 col-sm-4 category">
          <a href = "Categories/BinarySearchTree.html">Binary Search Tree</a>
          <p>A binary tree that has been sorted for the purpose of searching.</p>
        </div>
          <!-- Optional: clear the XS cols if their content doesn't match in height -->
        <div class="clearfix visible-xs"></div>
        <div class="hidden-xs col-xs-6 col-sm-4 category">
          <a href = "Categories/Comparator.html">Comparators</a>
          <p>Comparing one thing to another thing.</p>
        </div>
      </div>
      <!-- Second row -->
      <div class = "row">
        <br>
        <br>
      </div>
      <div class = "row">
        <div class="col-xs-6 col-sm-4">
          <a href = "Categories/DoubleCircularLinkedList.html">Double Circular Linked List</a>
          <p>A linked list that has its head and tail connected to each other, and the elements are connected to each other both ways.</p>
        </div>
        <div class="col-xs-6 col-sm-4 category">
          <a href = "Categories/Generics.html">Generics</a>
          <p>Code that is written in terms of "to-be-specified-later" types that are then instantiated when needed for specific types.</p>
        </div>
          <!-- Optional: clear the XS cols if their content doesn't match in height -->
        <div class="clearfix visible-xs"></div>
        <div class="hidden-xs col-xs-6 col-sm-4 category">
          <a href = "Categories/Hashing.html">Hashing</a>
          <p>An algorithm that maps data of arbitrary length to data of a fixed length.</p>
        </div>
      </div>
      <!-- Third row -->
      <div class = "row">
        <br>
        <br>
      </div>
      <div class = "row">
        <div class="col-xs-6 col-sm-4">
          <a href = "Categories/Heaps.html">Heaps</a>
          <p>Data structure where larger things are always on top of smaller things, or vice versa.</p>
        </div>
        <div class="col-xs-6 col-sm-4 category">
          <a href = "Categories/HuffmanTree.html">Huffman Tree</a>
          <p>A tree made when using Huffman coding, an entropy encoding algorithm used for lossless data compression.</p>
        </div>
          <!-- Optional: clear the XS cols if their content doesn't match in height -->
        <div class="clearfix visible-xs"></div>
        <div class="hidden-xs col-xs-6 col-sm-4 category">
          <a href = "Categories/Iterator.html">Iterator</a>
          <p>An object that enables you to traverse a container, particularly lists.</p>
        </div>
      </div>
      <!-- Fourth row -->
      <div class = "row">
        <br>
        <br>
      </div>
      <div class = "row">
        <div class="col-xs-6 col-sm-4">
          <a href = "Categories/JUnitTesting.html">JUnit Testing</a>
          <p>Using JUnit to test your programs.</p>
        </div>
        <div class="col-xs-6 col-sm-4 category">
          <a href = "Categories/LinkedList.html">Linked List</a>
          <p>A list of linked items.</p>
        </div>
          <!-- Optional: clear the XS cols if their content doesn't match in height -->
        <div class="clearfix visible-xs"></div>
        <div class="col-xs-6 col-sm-4 category">
          <a href = "Categories/Nodes.html">Nodes</a>
          <p>Nodes are the basic unit used to build data structures.</p>
        </div>
      </div>
      <!-- Fifth row -->
      <div class = "row">
        <br>
        <br>
      </div>
      <div class = "row">
        <div class="col-xs-6 col-sm-4">
          <a href = "Categories/PriorityQueues.html">Priority Queues</a>
          <p>Queues that lets elements with a higher priority go first.</p>
        </div>
        <div class="col-xs-6 col-sm-4 category">
          <a href = "Categories/Queues.html">Queues</a>
          <p>Queues are data structures that follow the "first in, first out" idea.</p>
        </div>
          <!-- Optional: clear the XS cols if their content doesn't match in height -->
        <div class="clearfix visible-xs"></div>
        <div class="col-xs-6 col-sm-4 category">
          <a href = "Categories/Recursion.html">Recursion</a>
          <p>To understand recursion, one must first understand recursion.</p>
        </div>
      </div>
      <!-- Sixth row -->
      <div class = "row">
        <br>
        <br>
      </div>
      <div class = "row">
        <div class="col-xs-6 col-sm-4">
          <a href = "Categories/RecursiveBacktracking.html">Recursive Backtracking</a>
          <p>Using recursion to backtrack when it is determined that you can't go further.</p>
        </div>
        <div class="col-xs-6 col-sm-4 category">
          <a href = "Categories/Sorting.html">Sorting</a>
          <p>Sorting is any process of arranging items according to a certain sequence.</p>
        </div>
          <!-- Optional: clear the XS cols if their content doesn't match in height -->
        <div class="clearfix visible-xs"></div>
        <div class="col-xs-6 col-sm-4 category">
          <a href = "Categories/Stacks.html">Stacks</a>
          <p>Stacks are data structures that follow the "first in, last out" idea..</p>
        </div>
      </div>
    <!-- Sixth row -->
      <div class = "row">
        <br>
        <br>
      </div>
      <div class = "row">
        <div class="col-xs-6 col-sm-4">
          <a href = "Categories/TreeTraversal.html">Tree Traversals</a>
          <p>The different ways one can go through a tree structure.</p>
        </div>
        <div class="col-xs-6 col-sm-4">
          <a href="RequestCategory.html" class="btn btn-primary btn-lg">Request new category</a>
        </div>
      </div>

    </div>

}