@scripts = {
	<link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css" rel="stylesheet">
} 

@main("Calendar", scripts) {
<div class="container">
	<iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=hawaii.edu_vhd1ft152721sr6m7l18c3b8u0%40group.calendar.google.com&amp;color=%232952A3&amp;ctz=Pacific%2FHonolulu" style=" border:solid 1px #777 " width="1150" height="600" frameborder="0" scrolling="no"></iframe>
</div>
}
