@(stickyList: List[Post], postList: List[Post], currentCategory: Category, user: String)

@main(currentCategory.title) {
    <div class="container">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input class="form-control" placeholder="Search for ..." type="text">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <h1>@currentCategory.title</h1>
      <h3> <div class="dropdown">
         <a id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
          Spring 2014 <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li role="presentation" class="dropdown-header">Previous Semesters</li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Fall 2013</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Spring 2013</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Fall 2012</a></li>
          <!-- Divider if needed for later
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
          -->
        </ul>
          </div>
      </h3>
      <div class="navbar navbar-default"> 
        <div class="container-fluid pull-left"> 
          <div class="navbar-header"> 
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">Sort By</div>
          </div>
          <div class="collapse navbar-collapse pull-left">
            <ul class="nav navbar-nav">
              <li class="active">
                <a href="#">Newest</a>
              </li>
              <li>
                <a href="#">Votes</a>
              </li>
              <li>
                <a href="#">Answers</a>
              </li>
            </ul>
            @if(user != null){
                <form class="navbar-form navbar-right" role="search">
                    <a href="../submitquestion.html" class="btn btn-primary">Submit Question for @currentCategory.title</a>
                </form>
            }
          </div>
        </div>
      </div>
      <!-- Stickies -->
      @for(sticky <- stickyList) {
          
	      <section>
	          <div class="panel sticky">
	            <div class="panel-heading">
	              <span class="label label-warning">STICKY</span><a href = "@routes.Application.post(sticky.id)" class = "postLink"> @sticky.title</a>
                 @if(user != null){
                    <span class = "pull-right">Submitted by @sticky.userName</span>
                 } 
	            </div>
	      </section>
      }

      <hr>
      
      <!-- Content -->
      @for(post <- postList) {
      	<section>
          <div class="panel panel-default">
            <div class="panel-heading">
              <span class="label label-info">#@post.id</span><a href = "@routes.Application.post(post.id)" class = "postLink"> @post.title</a>
              <span class = "pull-right stats">10 Votes</span>
              <span class = "pull-right stats">4 Answers</span>
              @if(user != null){
                <div class = "author">
                    Submitted by <span class = "badge">@post.userName</span> on @post.datePosted
                </div>
              }
            </div>
        </section>
      }

        <!-- Pagination -->
      <ul class="pagination">
        <li>
          <a href="#">Prev</a
        </li>
        <li>
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">4</a>
        </li>
        <li>
          <a href="#">Next</a>
        </li>
      </ul>
    </div>


}
