@(currentCourse: Course)

@scripts = {
	<link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css" rel="stylesheet">
} 

@main("Code Challenge Settings", scripts) {

<div class="container">
	<div class="row">
		<div class="col-xs-11">
			<h1>Code Challenge Settings</h1>
		</div>
	</div>

	<form action="@routes.Application.codeChallengeUpdate()" method="POST">
		<div class="form-group"> 
			<div class="col-xs-6 col-sm-4">
				<label for="codeChallengeTime">
					<h3>Current Code Challenge Time: @currentCourse.codeChallengeTime </h3>
				</label>
				<input id="codeChallengeTime" name="codeChallengeTime" type="text" class="form-control">


		<input type="submit" value="Update" class="btn btn-success btn-md"> 
					</div>
		</div>
	</form>		
	
</div>
}