@(challenge: CodeChallenge, score: CodeChallengeScore) 

@scripts = {
	<link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="@routes.Assets.at("stylesheets/codeChallenge.css")">
} 

@main(challenge.title, scripts) {

<div class="container">

	<ol class="breadcrumb">
	  <li>
	    <a href="@routes.Application.categories()">Categories</a>
	  </li>
	  <li>
	    <a href="@routes.Application.category(challenge.categoryId)">@challenge.getCategoryTitle</a>
	  </li>
	  <li>
	    @challenge.title
	  </li>
	</ol>
      
	<section>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>
					@challenge.title
				</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-11 content">
						<p>
							@Html(challenge.description)
							<hr>
							<p>The required output for this challenge is:</p>
							<pre>@challenge.requiredOutput</pre>
							<hr>
							<h4>Status -
							@if(score != null) {
								<span class="completed">
									<i class="fa fa-check fa-lg outputSuccess"></i>
									Completed!
								</span>
							} else {
								<span class="incomplete">
									<i class="fa fa-check fa-lg outputSuccess"></i>
									Incomplete!
								</span>
							}</h4>
							<div class="row">
								<div class="col-sm-5">
									<table class="table table-bordered">
										<tr>
											<td>Score</td>
											<td>@score.score</td>
										</tr>
										<tr>
											<td>Date Submitted</td>
											<td>@score.submission_date</td>
										</tr>
									</table>
								</div>
							</div>
						</p>
					</div>
				</div>
			</div>
			
		</div>
	</section>
	
	<a class="btn btn-default" href="@routes.Application.editor(challenge.id)">Begin Challenge</a>

</div>
}
