@(studentRoster : java.util.List[java.util.List[String]], course : List[Course]) 

@scripts = {
<link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/jquery.dataTables.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dataTables.tableTools.min.css")">
<script src="@routes.Assets.at("javascripts/jquery.dataTables.js")"></script>
<script src="@routes.Assets.at("javascripts/dataTables.tableTools.min.js")"></script>
<script>
	$(document).ready(function() {
		$('#roster').dataTable({
			"dom" : '<"clear">l<"centered"T>frtip',
			"tableTools" : {
				"sSwfPath" : "/assets/swf/copy_csv_xls_pdf.swf"
			}
		});
	});

</script>
} 

@main("Course Settings", scripts) {

<div class="container">
	<ol class="breadcrumb">
		<li><a href="@routes.Application.dashboard()">Dashboard</a></li>
		<li><a href="@routes.Application.courseSettings()">Course Settings</a></li>
	</ol>
	
	<div class="row">
		<div class="col-xs-11">
			<h1>Course Settings</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-11">
			<h3>Select a Course to view it's roster</h3>	      										
		</div>	
		<div class="col-lg-10">
			<form class="form-horizontal" action="@routes.Application.changeCourse()" method="post">
				<div class="form-group">
					<div class="col-lg-12">
						<select class="form-control" id="courseID" name="courseID" style="width: 75%">
							@for(index <- 0 until course.size) {
								<option value="@course(index).id">
									@course(index).semester - @course(index).icsCourse - Section 00@course(index).courseSection
								</option> 
							}
						</select>	
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10">
						<button type="submit" class="btn btn-success">Change Course</button>
					</div>
				</div>
			</form>							
		</div>
	</div>
	
	
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="row">
				<div class="toolbar"></div>
			</div>

			<body>
				<table cellpadding="0" cellspacing="0" border="0" class="table-bordered" id="roster">
					<thead>
						@for(head <- 0 until studentRoster(0).size) {
							<th>@studentRoster(0).get(head)</th> 
						}
						<th>Code Challenge</th>
					</thead>
					<tbody>
						@for(index <- 1 until studentRoster.size) {
							<tr>@for(cell <- 0 until studentRoster(index).size) {
									<td>@studentRoster(index).get(cell)</td> 
								}							
								<td><a class="postLink" id="userViewLink" 
									href="@routes.Application.viewUser(studentRoster(index).get(0))">Click here</a></td>
							</tr>
						}
					</tbody>
				</table>
			</body>
		</div>
	</div>
	
	<hr>
	
	<div class="panel-group" id="accordion">
		<div class="panel panel-default">
			<div class="panel-heading" id="chevronToggle" data-toggle="collapse" data-target="#addCourse">
				<div class="row">
					<div class="col-md-11">
						Create a New Course			      										
	      			</div>
	      			<span class="chevron_toggleable glyphicon glyphicon-chevron-down" id="chevron"></span>
	      		</div>
	    	</div>
	    	<script>
				$('#chevronToggle').on('click', function() {
				    $('.chevron_toggleable').toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
				});
			</script>
			<div id="addCourse" class="panel-collapse collapse">
				<div class="panel-body">
					<form class="form-horizontal" action="@routes.Application.createCourse()" method="POST">
						<fieldset>
							<legend>Create a New Course</legend>
							<div class="form-group">
								<label for="inputSemester" class="col-lg-2 control-label">Semester</label>
								<div class="col-lg-10">
									<input id="inputSemester" name="inputSemester" class="form-control" 
										placeholder="e.g., Fall 2014" type="text" style="width: 75%" required>
								</div>
							</div>
							<div class="form-group">
								<label for="select" class="col-lg-2 control-label">Course</label>
								<div class="col-lg-10">
									<select class="form-control" id="courseSelect" name="courseSelect" style="width: 75%">
										<option>ICS 111</option>
										<option>ICS 211</option>
								   <!-- <option>3</option>
							            <option>4</option>
							            <option>5</option> -->
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="select" class="col-lg-2 control-label">Section</label>
								<div class="col-lg-10">
									<select class="form-control" id="courseSection" name="courseSection" style="width: 75%">
										<option>001</option>
										<option>002</option>
										<option>003</option>
								   <!-- <option>4</option>
          							    <option>5</option> -->
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="select" class="col-lg-2 control-label">Title</label>
								<div class="col-lg-10">
									<select class="form-control" id="courseTitle" name="courseTitle" style="width: 75%">
										<option>Intro to Computer Science I</option>
										<option>Intro to Computer Science II</option>
								   <!-- <option>3</option>
							            <option>4</option>
							            <option>5</option> -->
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<button type="submit" class="btn btn-success">Create</button>
									<!-- Not sure if cancel button is needed.
									<button class="btn btn-danger">Cancel</button> 
									-->
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
		<!-- 
		<div class="panel panel-default">
			<div class="panel-heading" id="chevronToggle2" data-toggle="collapse" data-target="#editCourse">
				<div class="row">
					<div class="col-md-11">
						Edit Course Information		      										
	      			</div>
	      			<span class="chevron_toggleable2 glyphicon glyphicon-chevron-down" id="chevron"></span>
	      		</div>
	    	</div>
	    	<script>
				$('#chevronToggle2').on('click', function() {
				    $('.chevron_toggleable2').toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
				});
			</script>
			<div id="editCourse" class="panel-collapse collapse">
				<div class="panel-body">
					<select class="form-control" id="editSemester" style="width: 75%"> 
						@for(index <- 0 until course.size) {
							<option value="@course(index).id">
								@course(index).semester - @course(index).icsCourse - 00@course(index).courseSection
							</option> 
						}
					</select>
					<br>
					<button id="editSemesterRetrieve" class="editSemesterRetrieveBtn">Retrieve</button>
					<script>
						$(document).ready(function() {						    
						    $("#editSemesterRetrieve").click(function() {
								$("#editSemesterAccordion").slideDown();
						  	});						    						    
						});					
					</script>
					<div class="collapse" id="editSemesterAccordion">
						<form class="form-horizontal" action="#" method="POST">
							<fieldset>
								<legend>Edit Course Information</legend>
								<br>
								<div class="form-group">
									<label for="inputSemester" class="col-lg-2 control-label">Semester</label>
									<div class="col-lg-10">
										<input id="inputSemester" name="inputSemester"
											class="form-control" placeholder="e.g., Fall 2014"
											type="text" style="width: 75%" required>
									</div>
								</div>
								<div class="form-group">
									<label for="select" class="col-lg-2 control-label">Course</label>
									<div class="col-lg-10">
										<select class="form-control" id="courseSelect"
											name="courseSelect" style="width: 75%">
											<option>ICS 111</option>
											<option>ICS 211</option>
											<!-- <option>3</option>
							            <option>4</option>
							            <option>5</option> 
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="select" class="col-lg-2 control-label">Section</label>
									<div class="col-lg-10">
										<select class="form-control" id="courseSection"
											name="courseSection" style="width: 75%">
											<option>001</option>
											<option>002</option>
											<option>003</option>
											<!-- <option>4</option>
          							    <option>5</option> 
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="select" class="col-lg-2 control-label">Title</label>
									<div class="col-lg-10">
										<select class="form-control" id="courseTitle"
											name="courseTitle" style="width: 75%">
											<option>Intro to Computer Science I</option>
											<option>Intro to Computer Science II</option>
											<!-- <option>3</option>
							            <option>4</option>
							            <option>5</option> 
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="col-lg-10 col-lg-offset-2">
										<br>
										<button type="submit" class="btn btn-success">Update</button>
										<button class="btn btn-danger">Cancel</button>
									</div>
								</div>
							</fieldset>
						</form>
					</div>
				</div>
			</div>
		</div>
		-->
		<div class="panel panel-default">
			<div class="panel-heading" id="chevronToggle3" data-toggle="collapse" data-target="#uploadRoster">
				<div class="row">
					<div class="col-md-11">
						Upload Course Roster	      										
	      			</div>
	      			<span class="chevron_toggleable3 glyphicon glyphicon-chevron-down" id="chevron"></span>
	      		</div>
	    	</div>
	    	<script>
				$('#chevronToggle3').on('click', function() {
				    $('.chevron_toggleable3').toggleClass('glyphicon-chevron-down glyphicon-chevron-up');
				});
			</script>
			<div id="uploadRoster" class="panel-collapse collapse">
				<div class="panel-body">
					<form class="form-horizontal" enctype="multipart/form-data" action="@routes.Application.uploadExcelRoster()" method="post">
						<fieldset>
							<legend>Upload Course Roster</legend>
							<div class="form-group">
								<label for="select" class="col-lg-2 control-label">Select a Course</label>
								<div class="col-lg-10">
									<select class="form-control" id="courseId" name="courseId" style="width: 75%">
										@for(index <- 0 until course.size) {
											<option value="@course(index).id">
												@course(index).semester - @course(index).icsCourse - Section 00@course(index).courseSection
											</option> 
										}
									</select>								
								</div>
							</div>							
							<div class="form-group">
								<div class="col-lg-10 col-lg-offset-2">
									<input type="file" id="courseRosterExcel" class="fileUpload" name="courseRosterExcel" accept="MIME_type" required> 
									<button type="submit" class="btn btn-success" id="fileUploadButton">Upload</button>
								</div>
							</div>						
						</fieldset>
					</form>			
				</div>
			</div>
		</div>
						
		

	</div>
	
	<!-- 
	<span class="col-lg-4"> <span class="glyphicon glyphicon-user"></span>
		<a class="postLink" href="@routes.Application.courseRoster()">Manage Course Roster and User Settings</a>
	</span>
	-->


</div>
}
