@scripts = {
	<link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css" rel="stylesheet">
} 

@main("Course Settings", scripts) {

<div class="container">
	<div class="row">
		<div class="col-xs-11">
			<h1>Course Settings</h1>
		</div>
	</div>
	
	<span class="col-lg-4"> 
		<span class="glyphicon glyphicon-user"></span> 
			<a class="postLink" href="@routes.Application.courseRoster()">Manage Course Roster and User Settings</a>
	</span> 
	
	<div class="row">
		<br>
	</div>
		
	
</div>
}