

@scripts = {
	<link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css" rel="stylesheet">
} 

@main("Course Roster and User Settings", scripts) {

<div class="container">
	<div class="row">
		<div class="col-xs-11">
			<h1>Course Roster and User Settings</h1>
		</div>
	</div>
	
	Select an Excel file to upload:	
	<form enctype="multipart/form-data" onsubmit="return checkSize(2097152)" action="@routes.Application.uploadExcelRoster()" method="post">    
		<input type="file" id="courseRosterExcel" name="courseRosterExcel" accept="MIME_type">
		<input type="submit" value="Submit">
	</form>

	<script type="text/javascript">
	function checkSize(max_img_size) {
    	var input = document.getElementById("upload");
    
    	// check for browser support (may need to be modified)
    	if(input.files && input.files.length == 1) {           
        	if (input.files[0].size > max_img_size) {
            	alert("The file must be less than " + (max_img_size/1024/1024) + "MB");
            	return false;
        	}
    	}
    	return true;
	}
	</script>
	

            
	
</div>
}