@(userRole: String) 

@scripts = {
<link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/dashboard.css")">
} 

@main("Dashboard", scripts) {
<div class="container">

	<div class="row header">
		<h1>Dashboard</h1>
	</div>

	<div class="col-lg-6">
		<h2>Account Settings</h2>
		
		<br> 
		
		<br> <br> 
		@if(userRole=="admin") { 
		<span class="col-lg-4"> 
			<span class="glyphicon glyphicon-wrench"></span> 
			<a class="postLink" href="@routes.Application.manageCategories()">Manage Categories</a>
		</span> 
		<span class="col-lg-4"> 
			<span class="glyphicon glyphicon-list-alt"></span>
			<a class="postLink" href="@routes.Application.courseSettings()">Course Settings</a>
		</span> 
		<br> <br> <br> 
		<span class="col-lg-4"> 
			<span class="glyphicon glyphicon-fire"></span> 
			<a class="postLink" href="@routes.Application.createCodeChallenge()">Create a Code Challenge Post</a>
		</span> 
		} else {
		
		}
	</div>
	
</div>
}
