@(challenge: CodeChallenge, input: String, output: String, gradingResults: String)

@scripts = {
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/codemirror-4.2/lib/codemirror.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/editor.css")">
    <script src="@routes.Assets.at("javascripts/codemirror-4.2/lib/codemirror.js")"></script>
    <script src="@routes.Assets.at("javascripts/codemirror-4.2/mode/clike/clike.js")"></script>
 }

@main("Java Web IDE", scripts) {

    <div class="container">
    	<div class="row">
			<div class="col-lg-12">
				<h3>@challenge.title</h3>
				<p>@challenge.description</p>
				<p>The required output for this challenge is:<pre>@challenge.requiredOutput</pre></p>
			</div>
		</div>
    
    	<div class="row">
    		<div class="col-lg-12">
				<form role="form" action ="@routes.Application.submitCode(challenge.id)" method="POST">
					<div class="form-group">
						<label for="javaSource"><h3>Java Code</h3></label> 
						<textarea id="javaSource" name="javaSource" class="form-control" rows="3">@input</textarea>
						<script>
						    var editor = CodeMirror.fromTextArea(document.getElementById('javaSource'), {
						    	matchBrackets: true,
						    	lineNumbers: true,
						    	mode: "text/x-java"
					  		});
					    </script>
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
		
		@if(output != "") {
			<hr>
			<div class="row">
				<div class="col-lg-12">
					<h3>
						Output - 
							@if(output.trim == challenge.requiredOutput) {
								<span class="outputSuccess">
									<i class="fa fa-check fa-lg outputSuccess"></i>
									Success!
								</span>
								</h3>
							} else {
								<span class="outputFail">
									<i class="fa fa-times fa-lg outputFail"></i>
									Try Again!
								</span>
								</h3>
								
							}
					
					<div class="well">
						<pre>@Html(output)</pre>
					</div>
				</div>
			</div>
		}
		
		@if(gradingResults != "") {
			<hr>
			<div class="row">
				<div class="col-lg-12">
					<h3>Grading Results</h3>
					
					<div class="well">
						<pre>@Html(gradingResults)</pre>
					</div>
				</div>
			</div>
		}
		
	</div>

}