@(message: String)

 @scripts = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/index.css")">
 }

@main("Open Class Knowledge Base", scripts) {

    <div class="container-fluid">

      <div class="row">
        <div class = "col-md-4">
        </div>
        <div class = "col-md-4">
            <img src = "@routes.Assets.at("images/croppedLogo.png")" class="img-responsive center-block header">
<!--         <div class="col-md-12">
          <img src = "@routes.Assets.at("images/logo-bluegray.gif")" class="img-responsive">
        </div> -->
        </div>
        <div class = "col-md-4">
        </div>
      </div>

      <div class = "row row-top">
        <div class = "col-lg-12 txt-top">
          <h1 class="text-center ind-title">Open Class Knowledge Base </h1>
          <p class = "text-center ind-paragraph">Made by students, for students, the Open Class Knowledge Base features a collaborative environment that lets you interact with your classmates and professors like never before.</p>
        </div>
        <!--<div class="col-lg-6">
          <img src = "comm-based.png" class = "img-responsive" onload="this.width/=1.5;this.onload=null;">
        </div> -->
      </div>
      <hr>

      <div class = "row row-fluid row-even">
        <div class = "col-md-offset-1 col-md-4 col-width">
          <img class = "center-block content-img" src = "@routes.Assets.at("images/content.png")" onload="this.width/=1.1;this.onload=null;">
        </div>
        <div class = "col-md-offset-1 col-md-5 col-width">
          <h1 class = "ind-title"> Content at your fingertips </h1><br>
          <p class = "pull-left ind-paragraph">
          The Open Class Knowledge Base has content from all parts of ICS 211.  From simple review topics to in-depth analysis of sorting algorithms, the Open Class Knowledge Base will have what you're looking for.
          </p>
        </div>
      </div>
      <!-- <hr> -->

      <div class = "row row-fluid row-odd">
        <div class = "col-md-offset-1 col-md-5 col-width">
          <h1 class = "ind-title"> Course collaboration </h1><br>
          <p class="ind-paragraph">The Open Class Knowledge Base is driven by the peers you learn with and the instructors you learn from.  Connect, communicate, and collaborate with people you know and names you recognize.</p>
        </div>
        <div class="col-md-4 col-width">
          <img class = "odd-pic center-block" src = "@routes.Assets.at("images/coursecollab.png")">
        </div>
      </div>
      <!-- <hr> -->

      <div class = "row row-fluid row-even">
        <div class = "col-md-offset-1 col-md-4 col-width">
          <img class = "center-block" src = "@routes.Assets.at("images/past.png")" onload="this.width/=1.1;this.onload=null;">
        </div>
        <div class="col-md-offset-1 col-md-5 col-width col-txt">
          <h1 class = "ind-title">Learn from the past, prepare for the future</h1>
          <p class = "pull-left ind-paragraph">
          Got a question?  Chances are, someone may have already asked it. Utilize this feature and collaborate with the community to find new answers to old questions.
          </p>
        </div>
      </div>
      <!-- <hr> -->

      <div class = "row row-fluid row-odd">
          <div class = "col-md-offset-1 col-md-5 col-width col-txt">
            <h1 class = "ind-title">Beyond the classroom</h1>
            <p class = "pull-left ind-paragraph">
              Open Class Knowledge Base expands on the same topics covered in class by offering different perspectives on the same problem. Go beyond the textbook and spend less time searching and more time learning.
            </p>
          </div>
          <div class="col-md-4 col-width">
            <img class = "center-block odd-pic" src = "@routes.Assets.at("images/designed.png")" onload="this.width/=1.1;this.onload=null;">
          </div>
      </div>
      <!-- <hr> -->

      <div class = "row row-fluid row-even">
        <div class = "col-md-offset-1 col-md-4 col-width">
          <img class = "center-block" src = "@routes.Assets.at("images/mobile.png")" onload="this.width/=1.1;this.onload=null;">
        </div>
        <div class="col-md-offset-1 col-md-5 col-width col-txt">
          <h1 class = "ind-title"> Learn anywhere, anytime </h1>
          <p class = "pull-left ind-paragraph">Access the Open Class Knowledge Base from your tablet, mobile phone, or your laptop.  Contribute content and ask questions wherever you are, whenever you want.</p>
        </div>
      </div>
      <hr>

      <!-- <div class = "row-fluid bottom-text"><br>
        <div class = "text-center"> 
          <p>Sign in with your UH info to get started!  <br>
             Not at UH? Not a problem!  Explore and see what OCKB is all about!</p>
          <a href="@routes.Application.login()" class="btn btn-primary btn-lg btn-bottom">Sign in</a>
          <a href="@routes.Application.categories()" class="btn btn-primary btn-lg btn-bottom">Explore</a>
         
      </div> -->
      <div class = "row-fluid">
          <div class = "col-md-6 text-center">
              <p style>Sign in with your UH info to get started!</p>
              <a href="@routes.Application.login()" class="btn btn-primary btn-lg btn-bottom">Sign in</a>
          </div>
          <div class = "col-md-5 text-center">
              <p>Not at UH? Not a problem!  Explore and see what OCKB is all about!</p>
              <a href="@routes.Application.categories()" class="btn btn-primary btn-lg btn-bottom">Explore</a>
          </div>
      </div>
    </div>

    </div>
        

    <footer>
      <p>&copy; OCKB 2014</p>
    </footer>

}
