@scripts = {
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css" rel="stylesheet">
 }
@main("Notifications") {
<div class="row">
        <div class="col-lg-6">
          <h2>Notifications</h2>
          <section>
              <div class="panel panel-default">
                <div class="panel-heading">
                <a href = "dashboard" class = "postLink">Someone has replied to your question.</a>
                  <span class = "hidden-xs pull-right replies-author">Posted 5 min ago</span>
                </div>
            </section>
            <section>
                <div class="panel panel-default">
                  <div class="panel-heading">
                  <a href = "dashboard" class = "postLink">Someone has replied to your question.</a>
                    <span class = "hidden-xs pull-right replies-author">Posted 5 hours ago</span>
                  </div>
              </section>
            <section>
                <div class="panel panel-default">
                  <div class="panel-heading">
                  <a href = "dashboard" class = "postLink">Someone has replied to your question.</a>
                    <span class = "hidden-xs pull-right replies-author">Posted 1 hour ago</span>
                  </div>
            </section>

        </div>
}