@(categories: List[Category]) 

@scripts = {
	<link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/sortable.css")">
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/categories.css")">
	<script src="@routes.Assets.at("javascripts/jquery-ui-1.10.4.custom/js/jquery-ui-1.10.4.custom.js")"></script>
	<script>
      $(function() {
         $('#sortable').sortable({
            update: function(event, ui) {
               var productOrder = $(this).sortable('toArray').toString();
               document.getElementById("sortCourseOrder").value = productOrder;
            }
         });
      });
   </script>
} 

@main("Sort by Course Order", scripts) {
<div class="container">
	<div class="row">
		<div class="col-xs-11">
			<h1>Sort Categories by Course Order</h1>
		</div>
	</div>
	<div class="col-xs-11" ID="addCategory">
		<span class="glyphicon glyphicon-plus"></span> 
		<a class="postLink" href="@routes.Application.addCategory()">Add a new Category</a>
	</div>
	
	<br>
   
	<form action="@routes.Application.saveSortByCourseOrder()" method="POST">
		<div class="form-group">
			<input id="sortCourseOrder" name="sortCourseOrder" type="hidden" class="form-control">
		</div>
		
		<div class="col-xs-11" ID="addCategory">
			<span class="glyphicon glyphicon-save"></span> 
			<a href="#" onclick="$(this).closest('form').submit(); return false;">Save New Course Order</a>	
		</div>
	</form>
		
	<div class="row">
		<br>
	</div>

	<ul id="sortable">
		@for(index <- 0 until categories.size){ @if(index % 3 == 0){
			<li id="@categories(index).id" class="default">@categories(index).title
				<br>
				<p>@categories(index).description</p>
			</li>
			
		} @if(index % 3 == 1){
			<li id="@categories(index).id" class="default">@categories(index).title
				<br>
				<p>@categories(index).description</p>
			</li>		
		} @if(index % 3 == 2){		
			<li id="@categories(index).id" class="default">@categories(index).title
				<br>
				<p>@categories(index).description</p>
			</li>	
		} }
	</ul>

</div>


}
