@(currentCategory: Category, userRole: String)

@scripts = {
<link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css" rel="stylesheet">
<script src="@routes.Assets.at("javascripts/ckeditor/ckeditor.js")"></script>
}

@main(currentCategory.title, scripts) {

<div class="container">
  <ol class="breadcrumb">
    <li>
      <a href="@routes.Application.categories()">Categories</a>
    </li>
    <li>
      <a href="@routes.Application.category(currentCategory.id)">@currentCategory.title</a>
    </li>
    <li>
      <a href="@routes.Application.post(currentCategory.id)">Sumbit Question for @currentCategory.title</a>
    </li>
  </ol>

  <h1>Submit Question for @currentCategory.title</h1>
  <p>@currentCategory.description</p>

  <hr>

  <form action = "@routes.Application.createPost(currentCategory.id)" method="POST">
    <div class="form-group">
      <label for="postTitle"><h3>Title</h3></label>      
      <input name="postTitle" type="text" class="form-control" placeholder="Enter title">
    </div>

    @if(userRole=="admin") {
      <input name="stickyPost" type="radio" >Make this a Sticky Post<br>
    } else {

    }

  <div class="form-group">
    <label for="postContent"><h3>Content</h3></label>      
    <textarea class="editor" name="postContent" id="postContent" rows="10" cols="80"></textarea>
    <script>CKEDITOR.replace( 'postContent' );</script>
  </div>

  <input type="submit" value="Submit Question" class="btn btn-success btn-lg">
</form>
</div>

}