@()

@main("Submission View") {

<div class="centered-container">
      <div class="fluid-row">
        <div class="col-md-lg">
          <h3>Select type of post  </h3>
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default **active**">
                  <input type="radio" name="inputWalls" id="inputWalls" value="Excellent" checked>
              Text </label>
              <label class="btn btn-default">
                  <input type="radio" name="inputWalls" id="inputWalls" value="Good">
              Question </label>
              <label class="btn btn-default">
                  <input type="radio" name="inputWalls" id="inputWalls" value="Poor">
              Media </label>
            </div>
        </div>
        <br>
      </div>

        <section>

          <div class="panel panel-default">
            <div class="panel-heading">
              <input type="text" class="form-control" placeholder="What is the title of your post?">
            </div>
          </div>
        </section>

        <form id="editor-form">
          <textarea class="editor" name="editor1" id="editor1" rows="10" cols="80"></textarea>
          <script>CKEDITOR.replace( 'editor1' );</script>
        </form>
          
      </div>
    </div>
      
    </div><!--END CENTERED CONT-->
    
    <div class="row-fluid">
      <div class="col-lg-8"></div>
      <div class="col-lg-4">
        <a href="submitsuccess.html" class="btn btn-success btn-lg" role="button">Submit</a>
      </div>
    </div>
    
    }
    