 @(posts: List[PostSubmission], postForm: Form[PostSubmission])

 @import helper._

 @main("Submit Post"){
 	<h1>@posts.size() post(s)</h1>
 	<ul>
 		@for(post <- posts){
 			<li>
                Category: @post.category <br>
 				Title: @post.title <br>
                Content: @post.content <br>
 				@form(routes.Application.deletePost(post.id)){
 					<input type="submit" value="Delete">
 				}
 			</li>
 		}
 	</ul>
 	<h2>Add a new Post</h2>
 	@form(routes.Application.submitPost()){
 		@inputText(postForm("Category"))
        @inputText(postForm("Title"))
        @inputText(postForm("Content"))
 		<input type="submit" value="Create">
 	}
}