 @(userList: List[User])

@scripts = {
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/superhero/bootstrap.min.css" rel="stylesheet">
 }

 @main("User Privileges", scripts) {

    <div class="container">
    	<h1>User Table</h1>
    	<div class="panel-group">
    		<div class="panel panel-primary">
    			<div class="panel-heading"">
			      		<div class="row">
			      			<div class="col-md-2"><h4>ID</h4></div>
			      			<div class="col-md-2"><h4>Name</h4></div>
			      			<div class="col-md-2"><h4>Email</h4></div>
			      			<div class="col-md-2"><h4>Role</h4></div>
			      			<div class="col-md-2"><h4>Status</h4></div>
			      			<div class="col-md-2"><h4>Posts</h4></div>
			      		</div>
			    	</div>
    		</div>
    	  	@for(user <- userList) {
    			<div class="panel panel-default">
					<div class="panel-heading" data-toggle="collapse" data-target="#@user.id">
			      		<div class="row">
			      			<div class="col-md-2">@user.id</div>
			      			<div class="col-md-2">@user.name</div>
			      			<div class="col-md-2">@user.email</div>
			      			<div class="col-md-2">@user.role</div>
			      			<div class="col-md-2">@user.status</div>
			      			<div class="col-md-2">@user.posts</div>
			      		</div>
			    	</div>
			    	<div id="@user.id" class="panel-collapse collapse">
				    	<div class="panel-body">
				    		<div class="row">
				    			<div class="col-md-12">
				    				<h3>Permissions:</h3>
				    			</div>
				    		</div>
				    		<div class ="row">
				    			<div class ="col-md-3">
					    			Can edit content:
						    		<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-xs btn-default">
										    <input type="radio" name="options" id="option1"> ON
										</label>
										<label class="btn btn-xs btn-default active">
										    <input type="radio" name="options" id="option2"> OFF
										</label>
								 	</div>
					    		</div>
					    		
					    		<div class ="col-md-3">
					    			Can delete content:
						    		<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-xs btn-default">
										    <input type="radio" name="options" id="option1"> ON
										</label>
										<label class="btn btn-xs btn-default active">
										    <input type="radio" name="options" id="option2"> OFF
										</label>
								 	</div>
					    		</div>
					    		
					    		<div class ="col-md-3">
					    			Can ban users:
						    		<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-xs btn-default">
										    <input type="radio" name="options" id="option1"> ON
										</label>
										<label class="btn btn-xs btn-default active">
										    <input type="radio" name="options" id="option2"> OFF
										</label>
								 	</div>
					    		</div>
					    		
					    		<div class ="col-md-3">
					    			Can edit class info:
						    		<div class="btn-group" data-toggle="buttons">
										<label class="btn btn-xs btn-default">
										    <input type="radio" name="options" id="option1"> ON
										</label>
										<label class="btn btn-xs btn-default active">
										    <input type="radio" name="options" id="option2"> OFF
										</label>
								 	</div>
					    		</div>
				    		</div>
				      	</div>
				    </div>
				</div>
    	  	}
		</div>
    </div>

}